.App {
  height: 100vh;
  text-align: center;
  margin-top: 4%;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: #df6a6a;
  border-radius: 20px;
  width: 15%;
  height: 190px;
  margin-left: 42%;
  color: white;
}
.des{
  margin-left: 4%;
  margin-right: 4%;
  text-align: justify;
}
